$banner-color: rgba(244, 241, 240, 1);
$transparent: rgba(244, 241, 240, 0);
$left-img: url("../../assets/banner_left.png");
$right-img: url("../../assets/banner_right.png");

.bs-docs-section {
  width: 100%;
}
.d-flex {
  width: 100%;
  //   background-color: gray;

  .banner__image {
    position: relative;

    display: flex;
    flex-direction: column;

    height: calc(100vw / 8.122);
    width: 50%;

    padding: 0 !important;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      .real_img {
        -webkit-transform: scale(1.05); /*  크롬 */
        -moz-transform: scale(1.05); /* FireFox */
        -o-transform: scale(1.05); /* Opera */
        transform: scale(1.05);

        transition: transform 0.3s ease-out 0s;
      }
    }
    .real_img {
      height: inherit;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: block;
    }
    @media (max-width: 1024px) {
      .mobile {
        display: block;
      }
      .pc {
        display: none;
      }
    }
    @media (min-width: 1024px) and (max-width: 1440px) {
      .mobile {
        display: none;
      }
      .pc {
        display: block;
      }
    }
    .banner__left_img {
      background: linear-gradient(90deg, $banner-color 0%, $transparent 80%),
        $left-img;
    }
    .banner__right_img {
      background: linear-gradient(90deg, $transparent 20%, $banner-color 100%),
        $right-img;
    }
    .banner__name {
      width: 100%;
      position: absolute;
      top: 17%;
      left: 0;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.33px;
      color: #222;
    }

    .banner__desc {
      width: 100%;
      position: absolute;
      top: 36%;
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: -0.21px;
      font-size: 12px;

      p {
        margin: 0;
        padding: 0;
        line-height: 1rem;
        font-weight: 500;
      }

      .banner_button {
        width: 180px;
        height: 36px;
        margin: 10px auto 0;
        padding-top: 0.5rem;

        border: 1px solid #222;
        border-radius: 18px;

        text-align: center;
        color: #222;
      }
    }
  }

  .carousel-box {
    width: 100vw;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carousel-header {
      display: flex;
      justify-content: space-between;
      padding: 40px 20px 0;
      position: relative;
      .tit {
        font-size: 22px;
      }
      .more-link {
        position: absolute;
        right: 2vw;
        top: 70%;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: -0.18px;
        color: #222;
      }
    }
  }
  .carousel {
    margin-bottom: 15px;
    position: relative;

    padding: 20px 20px 50px;
    color: #222;
    .carousel-item {
      width: 96vw;
      height: calc(90vw * 0.44);
      overflow: hidden;
    }
    .banner__name {
      position: absolute;
      top: 26%;
      left: 0;
      display: block;
      width: 100%;
      padding: 0 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: -0.21px;
      color: #222;
    }
    .banner__desc {
      position: absolute;
      top: 44%;
      left: 0;
      display: block;
      width: 100%;
      padding: 0 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      font-size: 12px;
      line-height: 20px;
      font-weight: 300;
      letter-spacing: -0.18px;
      p {
        margin: 0;
        padding: 0;
        line-height: 1rem;
      }
    }
  }

  @media (max-width: 1024px) {
    .carousel-box {
      display: block;
    }
    .banner__image {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    .carousel-box {
      display: none;
    }
    .banner__image {
      display: block;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .banner__button {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .owl-dot span {
      width: 8px;
      height: 8px;
      background: #f4cb5e;
      border-radius: 50%;
      display: block;
      margin: 5px;
      pointer-events: none;
    }
    #carousel-button-right span {
      background: #e4e4e4;
    }
  }
}
