$next: url("../../assets/button_next.png");
$prev: url("../../assets/button_prev.png");

#image-2 {
  max-width: 42% !important;
}
#image-3 {
  max-width: 42% !important;
}

.flower-container {
  display: flex;
  flex-direction: column;
  width: 78vw;
  margin: 0 auto;
  padding: 0 auto;
}

.flower-contents-head {
  letter-spacing: -0.33px;
  b {
    font-weight: 700;
  }
}
.flower__change {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}
.flower-products {
  position: relative;

  padding: 20px 0 120px;
  zoom: -1;

  @media (min-width: 1024px) {
    .event-class {
      overflow: hidden;
      float: left;
      width: 50%;
      padding-right: 2%;
      position: relative;

      a {
        position: relative;
        display: block;
      }

      .flower__text {
        position: absolute;
        bottom: 7%;
        left: 5%;
        display: flex;
        flex-direction: column;
        letter-spacing: -0.27px;
        color: #222;
        font: {
          size: 18px;
          weight: 300;
        }

        #text-1 {
          font: {
            size: 25px;
            weight: 700;
          }
          letter-spacing: -0.33px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .flower-container {
      overflow: hidden;
    }
    .event-class {
      overflow: hidden;
      position: relative;
    }
    .flower__text {
      display: block;
      width: 30%;
      .name {
        position: absolute;
        bottom: 9%;
        left: 20px;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 700;
        color: #222;
      }
    }
    .desc {
      position: absolute;
      bottom: 18%;
      left: 20px;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: -0.21px;
      max-width: 90%;
      color: #222;
    }

    img {
      width: 90%;
    }

    .flower__item {
      padding-top: 20px;
      display: flex;
      align-content: center;
      .thumnail {
        width: 20%;
      }
    }
    .summary {
      display: inline-block;
      padding-left: 20px;
      padding-top: 5px;
      .name {
        display: block;
      }
      span {
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 1024px) {
  .special-class {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    float: right;

    .flower__item + .flower__item {
      margin-top: 5%;
      padding-top: 3%;
      border-top: #d3d3d3 1px solid;
    }
    .flower__item {
      display: flex;
      flex-direction: row;

      .flower-img {
        overflow: hidden;
      }
      .thumnail {
        position: relative;
        top: inherit;
        left: inherit;
        float: left;
        max-width: 42%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.2s ease-out;
      }

      .thumnail:hover {
        cursor: pointer;
        transform: scale(1.08);
        -webkit-transform: scale(1.08);
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
      }
      .summary {
        display: flex;
        flex-direction: column;
        padding: 3px 0 0 20px;
        overflow: hidden;
        display: block;

        .name {
          display: block;
          font: {
            size: 16px;
            weight: 500;
          }
          letter-spacing: -0.24px;
          line-height: 24px;
        }
        .price {
          margin-top: 5px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          color: #222;
        }
      }
    }
  }
}

.btn {
  width: 60px;
  height: 60px;

  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  &:hover,
  &:focus {
    border: #fff;
    outline: none;
    background-color: #fff;
    border-radius: 50;
  }
}
.next {
  position: absolute;
  top: 30%;
  right: -100px;
  background-image: $next;
}
.prev {
  position: absolute;
  top: 30%;
  left: -100px;
  background: $prev;
}

.tag {
  margin-top: 15px;
  a {
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    min-width: 52px;
    padding: 0 8px;
    margin-right: 4px;
    margin-bottom: 2px;
    vertical-align: middle;
    border: #ffcd32 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
    color: #ffcd32;
  }
  .gwang {
    border-color: #a27fde;
    color: #a27fde;
  }
  .jam {
    border-color: #46cfa7;
    color: #46cfa7;
  }
  .wolgye {
    border-color: #ffa04d;
    color: #ffa04d;
  }
  .guro {
    border-color: #68a4fe;
    color: #68a4fe;
  }

  .songpa {
    border-color: #ffcd32;
    color: #ffcd32;
  }
  .dongrae {
    border-color: #00afe3;
    color: #00afe3;
  }
}

.img {
  width: 50%;
  .scale {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
  }
  .scale:hover {
    cursor: pointer;
    transform: scale(1.6);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
  }
}

.flower-img {
  .scale {
    cursor: pointer;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out; /* 부드러운 모션을 위해 추가*/
  }
  .scale:hover {
    cursor: pointer;
    transform: scale(1.6);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
  }
}
