.blind {
  display: none;
}

a.link {
  color: #fff;
  text-decoration: none !important;

  &:active {
    text-decoration: none !important;
  }

  &:hover {
    text-decoration-color: #fff !important;
    text-decoration: none !important;
  }
}

.only_pc {
  display: none;
  outline: 1px solid #f7f7f7;

  @media (min-width: 1024px) {
    display: block;
  }
}

.end {
  margin-right: 0;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #222;
  color: #3a3a3a;

  @media (min-width: 1024px) {
    margin: 0;
    padding: 0 60px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin: 0;
    padding: 0 30px;
  }
}

.footer-wrap {
  margin-top: 52px;
  background: #222;

  @media (min-width: 1240px) {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 60px;
  }
}

.footer-inner {
  width: 100%;
  padding: 10px 0;
  color: #f7f7f7;
  width: 250px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 30px 0 60px 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 30px 0 60px 0;
  }
}

.section-info__contact dt {
  float: left;
  display: block;
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: -0.33px;
  color: #f7f7f7;
}

dl.section-info__contact::after {
  content: "";
  display: block;
  clear: both;
}

.contact-tel {
  float: left;
  display: block;
  font-size: 22px;
  line-height: 47px;
  font-weight: 500;
  letter-spacing: -0.33px;
  color: #f7f7f7;
  margin: 0 10px 0 20px;
}

.footer-wrap {
  margin-top: 52px;
  background: #222;
}

.sns {
  margin-right: 16px;

  &::before {
    content: "";
    display: inline-block;
    margin: 0;
  }

  &.facebook {
    &::before {
      background-image: url("../../assets/kukka.png");
      background-position: -42px -775px;
      width: 32px;
      height: 32px;
      background-size: 1252px 845px;
    }
  }

  &.instagram {
    &::before {
      background-image: url("../../assets/kukka.png");
      background-position: -1214px -438px;
      width: 32px;
      height: 32px;
      background-size: 1252px 845px;
    }
  }

  &.youtube {
    &::before {
      background-image: url("../../assets/kukka.png");
      background-position: -1164px -685px;
      width: 32px;
      height: 32px;
      background-size: 1252px 845px;
    }
  }
}

address {
  margin: 0;
}

.contact-time {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 10px;
  font-weight: 300px;
  letter-spacing: -0.18px;
  color: #9b9b9b;

  @media (min-width: 1024px) {
    float: left;
    display: block;
    margin-top: 0;
    font-size: 14px;
    line-height: 49px;
    font-weight: 300;
    letter-spacing: -0.21px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    float: none;
    position: relative;
    display: block;
  }
}

.contact-partner__tel {
  padding: 5px 0 !important;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 100;
  @media (min-width: 1024px) {
    float: none;
    clear: both;
  }
}

.section-info__faq {
  float: none;
  position: relative;
  margin-top: 15px;

  @media (min-width: 1300px) {
    float: right;
    margin-top: 12px;
    margin-left: 17px;
    bottom: 85px;
    right: 360px;
  }

  @media (max-width: 1299px) {
    float: none;
    margin-top: 12px;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  > a {
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    outline: 0;
    display: block;
    height: 36px;
    padding: 0 20px;
    color: #fff;

    @media (min-width: 1024px) {
      padding: 0 20px;
      border: 1px solid #9b9b9b;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 18px;
      cursor: pointer;
      font-size: 13px;
      line-height: 36px;
      font-weight: 300;
      letter-spacing: -0.2px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      position: relative;
      border-radius: 18px;
      border: 1px solid #fff;
    }
  }
}

.logo {
  @media (min-width: 1024px) and (max-width: 1140px) {
    display: none;
  }

  @media (min-width: 1024px) {
    position: absolute;
    bottom: 170px;
    right: 0;
    background-image: url("../../assets/kukka.png");
    background-position: 0 -612px;
    width: 150px;
    height: 63px;
    background-size: 1252px 845px;
  }
}

.section-info__about {
  padding-top: 15px;

  > dd {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: -0.17px;
    color: #d3d3d3;

    @media (min-width: 1024px) {
      margin-right: 18px;
      font-size: 14px;
      line-height: 25px;
      font-weight: 300;
      letter-spacing: -0.21px;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7) {
      &::after {
        top: 4px;
        right: -9px;
        width: 1px;
        height: 11px;
        background: #d3d3d3;

        @media (min-width: 1024px) {
          content: "";
          display: block;
          position: absolute;
          top: 7px;
          right: -12px;
          width: 1px;
          height: 13px;
        }
      }
    }
  }

  &::before {
    @media (min-width: 1024px) {
      content: "";
      display: block;
      position: absolute;
      top: 157px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #444;
    }
    @media (max-width: 1299px) {
      top: 210px;
    }
  }
}

.section-info__etc {
  display: block;
  margin-top: 30px;

  @media (min-width: 1024px) {
    position: absolute;
    bottom: 82px;
    right: 0;
    margin-top: 0;
  }

  .link {
    float: left;
    display: block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: -0.18px;
    color: #fff !important;

    @media (min-width: 1024px) {
      font-size: 14px;
      line-height: 24px;
      font-weight: 200;
      letter-spacing: -0.21px;
    }
  }

  :nth-child(2) {
    margin: 0 30px;
  }
}

.useless {
  border-top: none !important;
}
