.blind {
  display: none;
}

.link {
  color: #f7f7f7;
  text-decoration: none;
}

.only_pc {
  outline: 1px solid #f7f7f7;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #222;
  color: #3a3a3a;

  @media (min-width: 1024px) {
    margin: 0;
    padding: 0 60px;
  }
}

.footer .footer-wrap .footer-inner {
  width: auto;
  margin: 0 20px;
  padding: 50px 0;
  color: #f7f7f7;
}

.section-info__contact dt {
  float: left;
  display: block;
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: -0.33px;
  color: #f7f7f7;
}

dl.section-info__contact::after {
  content: "";
  display: block;
  clear: both;
}

nav.section-info__faq::after {
  content: "";
  display: block;
  clear: both;
}

.contact-tel {
  float: left;
  display: block;
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: -0.33px;
  color: #f7f7f7;
  margin: 0 10px 0 20px;
}

.footer-wrap {
  margin-top: 52px;
  background: #222;
}

.logo {
  position: absolute;
  top: -60;
  right: 250px;
  background-image: url(../../assets/kukka.png);
  background-position: 0 -612px;
  width: 150px;
  height: 63px;
  background-size: 1252px;
}

.faq__center {
  padding: 5px 10px;
  border: 1px solid#9b9b9b;
  border-radius: 15px;
  cursor: pointer;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: -0.2px;
}

.section-info__contact > dd:nth-child(3) {
  color: #9b9b9b;
  line-height: 37px;
}

.section-info__about::before {
  position: absolute;
  display: block;
  content: "";
  top: 0px;
  left: 220px;
  right: 0;
  height: 1px;
  width: 70%;
  background: #444;
}
.section-info__etc {
  float: right;
  display: block;
  line-height: 100px;
}

.section-info__about {
  + .section-info__etc {
    margin-top: 30px;
    @media (min-width: 1024px) {
      margin-top: 0;
    }
  }
}
.section-info__about > dd {
  position: relative;
  display: inline-block;
  font-size: 11px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: -0.17px;
  color: #d3d3d3;

  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: -0.21px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: -9px;
    width: 1px;
    height: 11px;
    background: #d3d3d3;

    @media (min-width: 1024px) {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      right: -10px;
      width: 1px;
      height: 13px;
    }
  }
}

.section-info__etc {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.sns {
  &::before {
    content: "";
    display: inline-block;
    margin: 0;
  }

  &.facebook {
    &::before {
      background-image: url("../../assets/kukka.png");
      background-position: -42px -775px;
      width: 32px;
      height: 32px;
      background-size: 1252px 845px;
    }
  }

  &.instagram {
    &::before {
      background-image: url("../../assets/kukka.png");
      background-position: -1214px -438px;
      width: 32px;
      height: 32px;
      background-size: 1252px 845px;
    }
  }

  &.youtube {
    &::before {
      background-image: url("../../assets/kukka.png");
      background-position: -1164px -685px;
      width: 32px;
      height: 32px;
      background-size: 1252px 845px;
    }
  }
}
