.header {
  position: fixed;
  width: 100%;
  padding: 0 60px;
  top: 0;
  background-color: white;
  z-index: 100;
}

.header__container {
  position: relative;
}

.header__logobox {
  position: absolute;
  top: 0;
  left: 60px;
  float: none;
  margin: 20px 0 0;
}

.logo--desktop {
  width: 160px;
  height: 60px;
}

.header__navbar--list {
  height: 90px;
  padding: 33px 130px 0;
  text-align: center;
}

.item {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 27px;
  font-weight: 600;
  letter-spacing: -0.27px;
  color: #222;
  margin: 0 100px;
}
.item:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: gold;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.header__navicon {
  position: absolute;
  top: 0;
  right: 60px;
  height: 40px;
  margin-top: 25px;
  float: right;
  display: block;
}

.navicon--link {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 20px;
}

.navicon {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.test {
  margin-top: 90px;
}

.section__video {
  color: crimson;
}

.section__flowerclass {
  color: dodgerblue;
}
