.popup {
  position: fixed;
  left: 40%;
  top: 30%;
  display: none;
  z-index: 100;
}

.popup-inner {
  width: 100%;

  img {
    width: auto;
    height: 350px;
  }
}

.popup-close {
  width: 100%;
  background-color: rgb(61, 61, 61);

  input {
    width: 20px;
    height: 20px;
    outline: 1px solid grey;
    margin: 8px;
  }

  :nth-child(2) {
    position: relative;
    bottom: 3px;
    display: inline-block;
    color: #fff;
  }

  :nth-child(3) {
    float: right;
    background-image: url("../../assets/x-button.png");
    background-repeat: no-repeat;
    background-size: 15px;
    color: #fff;
    padding: 12px;
    margin-top: 10px;
    &::after {
      content: "";
    }
  }
}
